include ../mixins/comment
include ../mixins/header
include ../mixins/head
include ../utils

- var post = data.post
- var comments = data.comments
doctype html
html
  +head(post.title)
  script.
    function toggleDetails(details_id) {
      var detailsElement = document.getElementById(details_id);
      if (detailsElement) {
        detailsElement.open = !detailsElement.open;
      }
    }

  body
    main#content
      +header(user)
      div.hero
        h3.sub-title
          a(href=`/r/${post.subreddit}`) ← r/#{post.subreddit}

        div.info-container 
          p
            | #{fmtnum(post.ups)} ↑ 
            | &nbsp;·&nbsp; by u/#{post.author} 
            | &nbsp;·&nbsp; 
            | #{timeDifference(Date.now(), post.created * 1000)}

        h2.post-title
          != post.title

        if post.is_gallery && post.is_gallery == true
          if post.gallery_data
            if post.gallery_data.items
              div.gallery
                - var total = post.gallery_data.items.length
                - var idx = 0
                each item in post.gallery_data.items
                  - var url = `https://i.redd.it/${item.media_id}.jpg`
                  div.gallery-item
                    div.gallery-item-idx
                      | #{`${++idx}/${total}`}
                    a(href=`/media/${url}`)
                      img(src=url loading="lazy")
        else if post.post_hint == "image" && post.thumbnail && post.thumbnail != "self" && post.thumbnail != "default"
          img(src=post.url).post-media
        else if post.post_hint == 'hosted:video'
          - var url = post.secure_media.reddit_video.dash_url
          video(controls data-dashjs-player src=`${url}`).post-media
        else if post.post_hint == "link"
          a(href=post.url)
            | #{post.url}

        if post.selftext_html
          div.self-text
            != post.selftext_html

        hr

      div.comments-container
        each child in comments
          +comment(child, true, post.id)
