include ../mixins/comment
include ../mixins/header
include ../mixins/head
include ../mixins/postUtils
include ../utils

- var post = data.post
- var comments = data.comments
doctype html
html
  +head(post.title)
  script.
    function toggleDetails(details_id) {
      var detailsElement = document.getElementById(details_id);
      if (detailsElement) {
        detailsElement.open = !detailsElement.open;
      }
    }

  body
    main#content
      +header(user)
      div.hero
        h3.sub-title
          a(href=`/r/${post.subreddit}`) ← r/#{post.subreddit}

        div.info-container 
          p
            | #{fmtnum(post.ups)} ↑ 
            | &nbsp;·&nbsp; by u/#{post.author} 
            | &nbsp;·&nbsp; 
            | #{timeDifference(Date.now(), post.created * 1000)}

        h2.post-title
          != post.title

        if isPostGallery(post)
          div.gallery
            each item in postGalleryItems(post)
              div.gallery-item
                div.gallery-item-idx
                  | #{`${item.idx}/${item.total}`}
                a(href=`/media/${item.url}`)
                  img(src=item.url loading="lazy")
        else if isPostImage(post)
          a(href=`/media/${post.url}`)
            img(src=post.url).post-media
        else if isPostVideo(post)
          - var url = post.secure_media.reddit_video.dash_url
          video(controls data-dashjs-player src=`${url}`).post-media
        else if isPostLink(post)
          a(href=post.url)
            | #{post.url}

        if post.selftext_html
          div.self-text
            != post.selftext_html

        hr

      div.comments-container
        - var total = comments.length
        each child, index in comments
          - var next_idx = index + 1
          - var prev_idx = index - 1
          - var next_com = next_idx < total ? comments[next_idx] : null
          - var prev_com = prev_idx >= 0 ? comments[prev_idx] : null
          - var next_id = next_com ? next_com.data.id : null
          - var prev_id = prev_com ? prev_com.data.id : null
          +comment(child, true, post.id, next_id, prev_id)
