include ../mixins/comment

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title reddit
    link(rel='stylesheet', href='/styles.css')
    script(src="https://cdn.dashjs.org/latest/dash.all.min.js")
  body
    main#content
      div.hero
        h4 r/#{post.subreddit}
        h2 #{post.title}

        if post.post_hint == 'image'
          img(src=post.url).post-media
        else if post.post_hint == 'hosted:video'
          - var url = post.secure_media.reddit_video.dash_url
          video(controls data-dashjs-player src=`${url}`).post-media

        if post.selftext_html
          p.self-text !{post.selftext_html}

      div.comments-container
        each child in comments
          +comment(child, true)

    script(src='https://unpkg.com/htmx.org@1.9.10')
