include ../mixins/header
include ../mixins/head
include ../utils

doctype html
html
  +head("dashboard")
  body
    main#content
      +header(user)
      div.hero
        h1 dashboard

        if message 
          div.dashboard-error-message
            | #{message}

        if isAdmin
          h2 invites

          if invites
            table.invite-table
              tr
                th.invite-table-header link
                th.invite-table-header created
                th.invite-table-header claimed
                th.invite-table-header delete
              each invite in invites
                tr
                  td.invite-link
                    a(href=`/register?token=${invite.token}`) #{invite.token} 
                  td #{timeDifference(Date.now(), invite.createdAt)} ago
                  if invite.usedAt
                    td #{timeDifference(Date.now(), invite.usedAt)} ago
                  else
                    td unclaimed
                  td 
                    a(href=`/delete-invite/${invite.id}`) delete

          a(href="/create-invite") create invite

        else
          p you aren't an admin and therefore there is nothing to see here yet
 
