include ../mixins/post
include ../mixins/sub
include ../mixins/header
include ../mixins/head
include ../utils
- var subs = []
doctype html
html
  +head("home")
  +subMgmt()
  script(defer).
    async function updateButton(sub) {
      var b = document.getElementById("button-container");
      b.innerHTML = '';

      const button = document.createElement("button");

      if (issub(sub)) {
         button.innerText = "unsubscribe";
         button.onclick = async () => await unsubscribe(sub);
      } else {
         button.innerText = "subscribe";
         button.onclick = async () => await subscribe(sub);
      }
      b.appendChild(button);
    }

    async function subscribe(sub) {
      await postSubscription(sub, true);
      updateButton(sub);
    }

    async function unsubscribe(sub) {
      await postUnsubscription(sub);
      updateButton(sub);
    }

    async function postUnsubscription(sub) {
      const response = await fetch('/unsubscribe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ subreddit: sub }),
      });

      if (!response.ok) {
        console.error('Failed to update unsubscription');
      }
    }
      const response = await fetch('/subscribe', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ subreddit: sub, subscribe: subscribe }),
      });

      if (!response.ok) {
        console.error('Failed to update subscription');
      }
    }

    function toggleDetails(details_id) {
      var detailsElement = document.getElementById(details_id);
      if (detailsElement) {
        detailsElement.open = !detailsElement.open;
      }
    }

    document.addEventListener('DOMContentLoaded', () => updateButton("#{subreddit}"));
  body
    main#content
      +header(user)
      div.hero
        div.sub-title
          h1 
            if isMulti
              a(href=`/`) readit
            else
              a(href=`/r/${subreddit}`)
                | r/#{subreddit}
          if !isMulti
            div#button-container
        if about
          p #{about.public_description}
        details
          summary.sorting sorting by #{query.sort + (query.t?' '+query.t:'')}
          div.sort-opts
            a(href=`/r/${subreddit}?sort=hot`) hot
            a(href=`/r/${subreddit}?sort=new`) new
            a(href=`/r/${subreddit}?sort=rising`) rising
            a(href=`/r/${subreddit}?sort=top`) top
            a(href=`/r/${subreddit}?sort=top&t=day`) top day
            a(href=`/r/${subreddit}?sort=top&t=week`) top week
            a(href=`/r/${subreddit}?sort=top&t=month`) top month
            a(href=`/r/${subreddit}?sort=top&t=year`) top year
            a(href=`/r/${subreddit}?sort=top&t=all`) top all

      if posts
        each child in posts.posts
          +post(child.data)
        
        if posts.after
          div.footer
            div.footer-item
              - var newQuery = {...query, after: posts.after}
              a(href=`/r/${subreddit}?${encodeQueryParams(newQuery)}`) next ⟶
