include ../mixins/post
include ../mixins/sub
- var subs = []
doctype html
html
  head
    meta(charset='UTF-8')
    title reddit
    link(rel='stylesheet', href='/styles.css')
    script(src="https://cdn.dashjs.org/latest/dash.all.min.js")

  +subMgmt()
  script.
    function updateButton(sub) {
      var b = document.getElementById("button-container");
      b.innerHTML = '';

      const button = document.createElement("button");

      if (issub(sub)) {
         button.innerText = "unsubscribe";
         button.onclick = ()=>unsubscribe(sub);
      } else {
         button.innerText = "subscribe";
         button.onclick = ()=>subscribe(sub);
      }
      b.appendChild(button);
    }

    function toggleDetails(details_id) {
      var detailsElement = document.getElementById(details_id);
      if (detailsElement) {
        detailsElement.open = !detailsElement.open;
      }
    }

    document.addEventListener('DOMContentLoaded', ()=>updateButton("#{subreddit}"));
  body
    main#content
      div.header
        div.header-item
          a(href=`/`) home
        div.header-item
          a(href=`/subs`) subscriptions
        div.header-item
          a(href=`/r/popular`) popular

      div.hero
        a(href=`/r/${subreddit}`)
          h1 r/#{subreddit}
        if about
          p #{about.public_description}
        div#button-container
        a(href=`/r/${subreddit}`)

      if posts
        each child in posts.posts
          +post(child.data)

    script(src='https://unpkg.com/htmx.org@1.9.10')
