include ../mixins/header
include ../mixins/head

doctype html
html
  +head("search subreddits")
  include ../mixins/subUtils
  body
    main#content
      +header(user)
      div.hero
        h1 search subreddits
        form(action="/search" method="get").search-bar
          input(type="text" name="q" placeholder="search subreddits (add +nsfw to include over-18 results)" required).search-input
          button(type="submit").search-button go
        if message
          div.search-message
            i #{message}
        if items
          div.search-results
            each i in items
              div.search-result
                - var subreddit = i.data.display_name
                - var isSubbed = subs.includes(subreddit)
                div.sub-title
                  h3
                    a(href=`/r/${subreddit}`) 
                      | r/#{subreddit}
                  div#button-container
                    if isSubbed
                      button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
                    else
                      button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe

                if i.data.public_description
                  p #{i.data.public_description}
