include ../mixins/header
include ../mixins/head

doctype html
html
  +head("subscriptions")
  include ../mixins/subUtils
  body
    main#content
      +header(user)
      div.hero
        h1 subscriptions
        p
          each s in subs 
            - var subreddit = s.subreddit
            div.sub-title
              h4
                a(href=`/r/${subreddit}`) 
                  | r/#{subreddit}
              div#button-container
                if isSubbed
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
                else
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe
