include ../utils

mixin infoContainer(data)
  div.comment-info-container
    | #{fmtnum(data.ups)} ↑
    | &nbsp;·&nbsp;
    span(class=`${data.is_submitter ? 'op' : ''}`)
      | u/#{data.author} #{data.is_submitter ? '(op)' : ''}
    | &nbsp;·&nbsp;
    if data.collapsed_reason_code == "DELETED"
      a(href=`https://undelete.pullpush.io${data.permalink}`) search on undelete
      | &nbsp;·&nbsp;
    | #{timeDifference(Date.now(), data.created * 1000)}

-
  function hasReplies(data) {
    return data.replies && data.replies.data && data.replies.data.children && data.replies.data.children.length > 0;
  }

mixin comment(com, isfirst, parent_id)
  - var data = com.data
  - var hasReplyData = hasReplies(data)

  if com.kind == "more"
    div(class=`more ${isfirst ? 'first' : ''}`)
      a(href=`/comments/${parent_id}/comment/${data.id}`)
        | #{data.count} more #{fmttxt(data.count, 'comment')}
  else
    div(class=`comment ${isfirst ? 'first' : ''}`)
      details(id=`${data.id}` open="")
        summary.expand-comments
          +infoContainer(data)
        div.comment-body
          != data.body_html
        if hasReplyData
          div.replies
            each reply in data.replies.data.children
              +comment(reply, false, parent_id)
