include ../utils
include postUtils
mixin post(p)
  article.post
    div.post-container
      div.post-text
        div.title-container
          a(href=`/comments/${p.id}`)
            != p.title
          span.domain   (#{p.domain})
        div.info-container 
          p
            | #{fmtnum(p.ups)} ↑ 
            span.post-author
              | &nbsp;·&nbsp;
              by u/#{p.author} 
            | &nbsp;·&nbsp;
            | #{timeDifference(Date.now(), p.created * 1000)}
            | &nbsp;·&nbsp;
            a(href=`/r/${p.subreddit}`) r/#{p.subreddit}
            | &nbsp;·&nbsp;
            a(href=`/comments/${p.id}`) #{fmtnum (p.num_comments)} ↩
      div.media-preview
        if isPostGallery(p)
          - var item = postGalleryItems(p)[0]
          img(src=item.url onclick=`toggleDetails('${p.id}')`) 
        else if isPostImage(p)
          img(src=p.thumbnail onclick=`toggleDetails('${p.id}')`) 
        else if isPostVideo(p)
          - var url = p.secure_media.reddit_video.scrubber_media_url
          video(src=url data-dashjs-player width='100px' height='100px' onclick=`toggleDetails('${p.id}')`)
        else if isPostLink(p)
          a(href=p.url)
            | ↗

    if isPostGallery(p)
      details(id=`${p.id}`)
        summary.expand-post expand gallery
        div.gallery
          each item in postGalleryItems(p)
            div.gallery-item
              div.gallery-item-idx
                | #{`${item.idx}/${item.total}`}
              a(href=`/media/${item.url}`)
                img(src=item.url loading="lazy")
        button(onclick=`toggleDetails('${p.id}')`) close
    else if isPostImage(p)
      details(id=`${p.id}`)
        summary.expand-post expand image
        a(href=`/media/${p.url}`)
          img(src=p.url loading="lazy").post-media
        button(onclick=`toggleDetails('${p.id}')`) close
    else if isPostVideo(p)
      details(id=`${p.id}`)
        summary.expand-post expand video
        - var url = p.secure_media.reddit_video.dash_url
        video(src=url controls data-dashjs-player loading="lazy").post-media
        button(onclick=`toggleDetails('${p.id}')`) close
    else if isPostLink(p)
      details(id=`${p.id}`)
        summary.expand-post expand link
        a(href=`${p.url}`)
          | #{p.url}
        br
        button(onclick=`toggleDetails('${p.id}')`) close
